<!DOCTYPE html>
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.2.11/angular.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    TEST 9
   <div ng-controller="Ctrl">
       <input type="text" ng-model='userType'>
        <button id="clearbtn" ng-click="clear(userType)">clear</button><br>
        <p>userType: {{userType}}</p>
      
   </div><!-- end controller  -->
   
   <!-- datacontroller for controlling crud functions -->
   <div ng-controller="DataCtrl">


         <li ng-repeat="task in data">  
            <span>id: {{task.id}} <a href="" ng-click="deleteData(task.id)">task: {{task.task}}</a></span>
        </li>
      <br/>
      <input type="text" ng-model='newTask'>
        <button id="addbtn" ng-click="putData(newTask)">Add</button><br>

      <br>
      <button id="getbtn" ng-click="getData(12)">get</button>
      <button id="putbtn" ng-click="putData('These are the times to try mens souls...')">put</button>
      <button id="deletebtn" ng-click="deleteData(12)">delete</button><br>
  
   </div><!-- end DataCtrl -->
   
  </body>
</html>